body {
    background: radial-gradient(circle, rgba(238,226,174,1) 0%, rgba(233,148,148,1) 100%);
}

#inline-row {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.input-pair {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px
}

.navbar {
    width: 100%;
    height: 4em;
    background-color: #1c425c;
    margin-bottom: 4em;
    position:  relative;

}

.float-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.page-content {
    width:50%; 
    margin:auto;
}